admin_email: [youraddress@yourdomain.com]

root_pwd: [hashed pwd (see README)]

users:
  - name: [name]
    username: [linux username]
    pwd: [hashed password (see README)]
    email: [linux user's email address]
    pubkey: keys/[username]/[key name].pub
(repeat the above for other sudo users)

keys:
  kex_algorithms: "ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group14-sha1,diffie-hellman-group-exchange-sha256"
  ciphers: "aes128-ctr,aes192-ctr,aes256-ctr"
  macs: "hmac-sha2-256,hmac-sha2-512,hmac-sha1"

web_server_ip: [ip of server allowed to access mysql (firewalld rule)]

hostname: [FQDN i.e. sub.example.com]
domain: [ base domain i.e. example.com]

mysql_root_pwd: [mysql root user password]

schemas:
  - [schema/database 1]
  - [schema/database 2]
(repeat for all schemas)

app_users: (users with privileges for web apps)
  - name: "[schema1 app username]"
    pwd: "[schema1 app user password]"

  - name: "[schema2 app username]"
    pwd: "[schema2 app user password]"
(repeat for all schemas)

backup: [true/false] (do you want to install the s3 backup system)

backup_endpoint: "[endpoint URL]" e.g. "https://sfo3.digitaloceanspaces.com"

backup_key_id: "[your_key_id]"

backup_key: "[your_key]"

backup_bucket: "[your bucket name]"

backup_cron_minute: "20"
backup_cron_hour: "04"
backup_cron_day: "*"
(set the above to any viable cron settings)

backup_users:
  - name: "[schema1]"
    pwd: "[schema1 backup user password]"

  - name: "[schema2]"
    pwd: "[schema2 backup user password]"
(repeat for all backup users)
